$primaycolor:#f1f1f1c9;
*{margin: 0%; box-sizing: border-box;}
hr{width: 9vh;
    position: relative;
    left: 50%;
    transform: translate(-50%, 10px);
    background-color: orange;
    height: 2px;}
header{ background: url(../images/banner-1-Construction.png); width: 100%; color: white; padding-bottom: 10vh;
    background-size: 100% 100vh; background-attachment: fixed; background-repeat: no-repeat; margin-bottom: 3vh;
    .card{height: 90vh;top: 21vh;
        position: relative;
        background: transparent;
        border: none;}
    .card-img-top {position: relative;
        width: 35%;
        left: 50%;
        transform: translate(-50%, 50%);}
    .span-previous {position: relative;
        right: 35%;
        background-color: black;
        padding: 21px;
        border-radius: 0px 43px 43px 0px;
    }
    .span-next{ background-color: black; position: relative;
        left: 35%;
        padding: 21px;
        border-radius: 43px 0px 0px 43px;}
    .icons.text-center{display: flex;
        transform: translate(-50%, 50%);
        width: 37vh;
        position: relative;
        left: 50%;
        justify-content: center;}
    #flip {width: 46px;
        text-align: center;
        background-color: orange;
        border: none;
        border-radius: 0px 0px 30px 30px;}
        i.fas.fa-chevron-down.top{background-color:transparent;
            border: none;
            padding: 0px;
            border-radius:0;
            animation: en 1s infinite ease-in-out;
        }    
        @keyframes en {
            0%{transform: translate(0px, 8px);}
            50%{transform: translate(0px, -12px);}
            100%{transform: translate(0px, 8px);}            
        }
    #flip:hover{cursor: pointer;}
    #panel {
        height: 29vh;
        padding: 40px;
        display: none;
        position: absolute;
        opacity: .5;
        top: 88px;
    }
    .icon-content{transform: translate(0px, -44px);
        padding-left: 14px;
        padding-right: 13px;
    }
    i {
        background-color: #503e27;
        border: 2px solid orange;
        padding: 8px;
        border-radius: 50%;
    }
    .down {
        background-color: #503e27;
        border: 2px solid orange;
        padding: 8px;
        border-radius: 50%;
        width: 7vh;
        height: 7vh;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0px);
    }
    i:hover {cursor: pointer;
        background-color:orange ;
        border: 2px solid #503e27;
        padding: 8px;
        border-radius: 50%;
    }
    .icon-content-down {
        position: relative;
        padding-left: 14px;
        padding-right: 13px;
        top: 34px;}
    a{color: white;}
    a:hover {color: white;}  
    i.bottom{background-color:transparent;
        border: none;
        padding: 0px;
        border-radius:0;
        animation: en 1s infinite ease-in-out;
    }    
    @keyframes en {
        0%{transform: translate(0px, 6px);}
        50%{transform: translate(0px, -6px);}
        100%{transform: translate(0px, 6px);}            
    }
}
.company{
        h3{padding-top: 32px;}
        hr.hr1{width: 100%; background-color:$primaycolor;}
}

.projects{background-color: $primaycolor; padding-top: 7vh; 
    .card-group{padding-bottom: 15vh; 
        margin-top: 11vh;
        .card1{background:url(../images/Layer-265.png); color: white;  border: none; height: 63vh; background-size: cover;
     overflow: hidden; background-repeat: no-repeat; margin-left: 11px; margin-right: 11px; margin-bottom: 14vh;}
        .card2{background:url(../images/Layer-263-copy.png); color: white;   border: none; height: 63vh; background-size: cover;
     overflow: hidden; background-repeat: no-repeat; margin-left: 11px; margin-right: 11px; margin-bottom: 14vh;}
        .card3{background:url(../images/Layer-258.png); color: white;  border: none; height: 63vh; background-size: cover;
     overflow: hidden; background-repeat: no-repeat; margin-left: 11px; margin-right: 11px; margin-bottom: 14vh;}
        .card4{background:url(../images/Layer-266.png); color: white;   border: none; height: 63vh; background-size: cover;
     overflow: hidden; background-repeat: no-repeat; margin-left: 11px; margin-right: 11px; margin-bottom: 14vh;
       }
     .card-body {overflow: hidden; position: relative;
        top: 72%;
        width: 100%;
        background: black;
        opacity: .7;}
    .card:hover {cursor: pointer;  transform: scaleY(1.2) translateY(32px); transition: all 0.2s ease-in-out;
        .card-body1{display: block; }
    .card-body{display: block; position: relative;
        top: 0%;}    
    }
    .card-body1{display: none;opacity: .8;
        background-color: orange;
        width: 100%;
        height: 63vh;
        .fab {
            background-color: black;
            font-family: "Font Awesome 5 Brands";
            padding: 10px;
            border-radius: 50%;
            position: relative;
            top: 50%;
        }
        i:hover{background-color: rgb(92, 91, 91);}
    }    
}
   
}

.aims{background: url(../images/Rectangle-7-copy.png); background-attachment: fixed; background-repeat: no-repeat;
    width: 100%;  background-size: 100% 100vh;padding-top: 15vh; padding-bottom: 15vh; color:white;
    .col-sm-6 , .col-xs-6{width: 50%;}
    i {border: 2px solid gray;
        font-size: 34px;
        border-radius: 50%;
        padding: 16px;}
    .counter {animation-duration: 1s; 
        font-size: 38px;
        font-weight: 700;
        animation-delay: 0s;}
    i:hover{background-color: orange; cursor: pointer;}
    .carousel2{display: none;}
}

.works{padding-top: 10vh; padding-bottom: 10vh; background-color:$primaycolor;
    .card-body{text-align: end;} 
    .btn-primary:hover {
        color: #fff;
        background-color: black;
        border:none;
      }


}

.images{margin-bottom: 10vh; margin-top: 10vh;
    img {
        height: 44vh;
    }
}

footer{padding-top: 10vh;  background-color: #2B2D3B; color:$primaycolor; margin-bottom: 0;
    .row{text-align: end; margin-top: 5vh;
        .card-body{display: flex; text-align: end;
            a{color: $primaycolor;
             }    
        }
    }
    hr {
        width: 6vh;
        background-color: orange;
        height: 2px;
        padding: 0;}
        .low{background-color:	#15151D ; padding-bottom: 3vh; padding-top: 3vh;
            p{margin-bottom: 0;} 
            p.right{float: right;}
            p.center{float: right;
                color: white;
                position: relative;
                right: 76vh;}  
            img{width: 13%;}
        }
        p.links{width: 29vh;     margin-left: 75px;} 
        .location { text-align: end;
            .words{ margin-right: 3px;
                background-color: 	#21232F; padding: 10px;
            }
        }
}















